<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>School</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Admissionkey</display-name>
		<servlet-name>Admissionkey</servlet-name>
		<servlet-class>p1.Admissionkey</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Teacherkey</display-name>
		<servlet-name>Teacherkey</servlet-name>
		<servlet-class>p1.Teacherkey</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentLogin</display-name>
		<servlet-name>StudentLogin</servlet-name>
		<servlet-class>p1.StudentLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TeacherLogin</display-name>
		<servlet-name>TeacherLogin</servlet-name>
		<servlet-class>p1.TeacherLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Adminkey</display-name>
		<servlet-name>Adminkey</servlet-name>
		<servlet-class>p1.Adminkey</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteStudent</display-name>
		<servlet-name>DeleteStudent</servlet-name>
		<servlet-class>p1.DeleteStudent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteTeacher</display-name>
		<servlet-name>DeleteTeacher</servlet-name>
		<servlet-class>p1.DeleteTeacher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddStudents</display-name>
		<servlet-name>AddStudents</servlet-name>
		<servlet-class>p1.AddStudents</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddTeachers</display-name>
		<servlet-name>AddTeachers</servlet-name>
		<servlet-class>p1.AddTeachers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateStudent</display-name>
		<servlet-name>UpdateStudent</servlet-name>
		<servlet-class>p1.UpdateStudent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateTeachers</display-name>
		<servlet-name>UpdateTeachers</servlet-name>
		<servlet-class>p1.UpdateTeachers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admissionkey</servlet-name>
		<url-pattern>/Admissionkey</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Teacherkey</servlet-name>
		<url-pattern>/Teacherkey</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentLogin</servlet-name>
		<url-pattern>/StudentLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherLogin</servlet-name>
		<url-pattern>/TeacherLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Adminkey</servlet-name>
		<url-pattern>/Adminkey</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteStudent</servlet-name>
		<url-pattern>/DeleteStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTeacher</servlet-name>
		<url-pattern>/DeleteTeacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudents</servlet-name>
		<url-pattern>/AddStudents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTeachers</servlet-name>
		<url-pattern>/AddTeachers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStudent</servlet-name>
		<url-pattern>/UpdateStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTeachers</servlet-name>
		<url-pattern>/UpdateTeachers</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
